<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NO-CBD Shop</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-center">
        <a href="/">
          <img src="/images/logo.png" alt="store logo" class="logo"/>
        </a>
        <ul class="navbar-links">
          <% if (!user) { %>
            <li class="navbar-link">
                <a href="/login">login</a>
            </li>
          <% } else { %>
            <li class="navbar-link">
                <a href="/logout">logout</a>
            </li>
          <% } %>
          <li class="navbar-link">
              <a href="/products">products</a>
          </li>
        </ul>
        <div class="cart-btn">
          <a href="/users/cart" class="nav-icon">
            <i class="fas fa-cart-plus"></i>
          </a>
          <div class="cart-items"><%= cartQuantity %></div>
        </div>

      </div>
    </nav>
    <!-- end of navbar -->
    <!-- banner -->
    <header class="hero">
        <div class="banner">
            <h2 class="banner-title">Oops...</h2>
            <p class="banner-description">We can't find the thing you're looking for.</p>
            <a href="/" class="banner-description">Return to home</a>
        </div>
    </header>
  </body>
</html>