<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NO-CBD Shop</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-center">
        <a href="/">
          <img src="/images/logo.png" alt="store logo" class="logo"/>
        </a>
        <ul class="navbar-links">
          <% if (!user) { %>
            <li class="navbar-link">
                <a href="/login">login</a>
            </li>
          <% } else { %>
            <li class="navbar-link">
                <a href="/logout">logout</a>
            </li>
          <% } %>
          <li class="navbar-link">
              <a href="/products">products</a>
          </li>
        </ul>
        <div class="cart-btn">
          <a href="/users/cart" class="nav-icon">
            <i class="fas fa-cart-plus"></i>
          </a>
          <div class="cart-items"><%= cartQuantity %></div>
        </div>

      </div>
    </nav>
    <!-- end of navbar -->

    <!-- cart -->
    <div class="cart-container">
      <div class="cart">
        <h2>your cart</h2>
        <div class="cart-content">
          <!-- cart item -->
          <% for (let product of datas) { %>
          <div class="cart-item">
            <img src="/<%= product[0].picture %>" alt="product" />
            <div>
              <h4><%= product[0].productname %></h4>
              <h5><%= product[0].price %></h5>
              <span class="remove-item">remove</span>
            </div>
            <div>
              <i class="fas fa-chevron-up"></i>
              <p class="item-amount">
                <%= product[1] %>
              </p>
              <i class="fas fa-chevron-down"></i>
            </div>
          </div> 
          <% } %>
          <!-- cart item -->
        </div>
        <div class="cart-footer">
          <h3>
            Total amount: <%= datas.reduce((total, [product, quantity]) => total + (product.price * quantity), 0) %>
          </span>
          </h3>
          <button class="clear-cart banner-btn">clear cart</button>
        </div>
      </div>
    </div>
    <!-- end of cart -->
  </body>
</html>