<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NO-CBD Shop</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-center">
        <a href="/">
          <img src="images/logo.png" alt="store logo" class="logo"/>
        </a>
        <ul class="navbar-links">
            <% if (!user) { %>
              <li class="navbar-link">
                  <a href="/login">login</a>
              </li>
            <% } else { %>
              <li class="navbar-link">
                  <a href="/logout">logout</a>
              </li>
            <% } %>
            <li class="navbar-link">
                <a href="/products">products</a>
            </li>
        </ul>
        <p>lang : <%= lang %></p>
        <div class="cart-btn">
          <a href="/users/cart" class="nav-icon">
            <i class="fas fa-cart-plus"></i>
          </a>
          <div class="cart-items"><%= cartQuantity %></div>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->
    <!-- banner -->
    <header class="hero">
        <div class="banner">
            <h1 class="banner-title">No CBD</h1>
            <p class="banner-description">The best place to find CBD</p>
            <a href="/products">
              <button class="banner-btn">shop now</button>
            </a>
            
        </div>
    </header>
    <!-- end of banner -->

    <!-- products -->
    <section class="products">
      <div class="section-title">
        <h2>Latest Arrivals !</h2>
      </div>
    </section>
    <!-- end of products -->
    <% if (user && user.access === "admin") { %>
      <div class="admin-btn-container">
        <a href="/admin" class="nav-icon">
          <button class="admin-btn">Add Product</button>
        </a>
      </div>
    <% } %>

    <!-- contentful -->
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
  </body>
</html>