<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NO-CBD Shop</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-center">
        <a href="/">
          <img src="images/logo.png" alt="store logo" class="logo"/>
        </a>
        <ul class="navbar-links">
          <% if (!user) { %>
            <li class="navbar-link">
                <a href="/login">login</a>
            </li>
          <% } else { %>
            <li class="navbar-link">
                <a href="/logout">logout</a>
            </li>
          <% } %>
          <li class="navbar-link">
              <a href="/products">products</a>
          </li>
        </ul>
        <div class="cart-btn">
          <a href="/users/cart" class="nav-icon">
            <i class="fas fa-cart-plus"></i>
          </a>
          <div class="cart-items"><%= cartQuantity %></div>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->

    <!-- products -->
    <section class="products">
      <div class="section-title">
        <h2>our products</h2>
      </div>
      <div class="products-center">
        <!-- single product -->
        <% for (let product of datas) { %>
        <article class="product">
          <a href="/products/<%= product.id %>" class="product-link">
            <div class="img-container">
              <img
                src="<%= product.picture %>"
                alt="product"
                class="product-img"
              />
              <a href="/users/cart/add/<%= product.id %>" class="bag-btn" data-id="<%= product.id %>">
                <i class="fas fa-shopping-cart"></i>
                add to bag
              </a>
            </div>
            <h3><%= product.productname %></h3>
            <h4><%= product.price %> €</h4>
            <h4><%= product.quantity %> left</h4>
          </a>
        </article>
        <% } %> 
        <!-- end of single product -->
      </div>
    </section>
    <!-- end of products -->
  </body>
</html>