<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NO-CBD Shop</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-center">
        <a href="/">
          <img src="images/logo.png" alt="store logo" class="logo"/>
        </a>
        <ul class="navbar-links">
          <% if (!user) { %>
            <li class="navbar-link">
                <a href="/login">login</a>
            </li>
          <% } else { %>
            <li class="navbar-link">
                <a href="/logout">logout</a>
            </li>
          <% } %>
          <li class="navbar-link">
              <a href="/products">products</a>
          </li>
        </ul>
        <div class="cart-btn">
          <a href="/users/cart" class="nav-icon">
            <i class="fas fa-cart-plus"></i>
          </a>
          <div class="cart-items"><%= cartQuantity %></div>
        </div>

      </div>
    </nav>
    <!-- end of navbar -->
    <div class="form-container">
      <form action="/users" method="POST" class="form">
        <h1 class="form-title">Register</h1>
        <div class="form-input">
          <label for="username">Username</label>
          <input type="text" name="username"/>       
        </div>
        <div class="form-input">
          <label for="email">Email</label>
          <input type="text" name="email"/>       
        </div>
        <div class="form-input">
          <label for="password">Password</label>
          <input type="password" name="password"/>
        </div>
        <div class="form-input">
          <label for="birthdate">Birthdate</label>
          <input type="text" name="birthdate" placeholder="mm/jj/aaaa"/>
        </div>
        <div class="form-input">
          <label for="Address">Address</label>
          <input type="text" name="address"/>
        </div>
        <input type="submit" class="form-btn" value="Register" />
        <a href="/login" class="register-footer">
          Already have an account?
        </a>
      </form>
    </div>
  </body>
</html>