@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #6892d5;
  --secondaryColor: #79d1c3;
  --thirdColor: #c9fdd7;
  --fourthColor: #f8fcfb;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  overflow-y: scroll;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  width: 100px;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--mainWhite);
  z-index: 1000;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.navbar-link {
  display: flex;
  margin: auto;
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  border-radius: 10px;

  & > a {
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    color: var(--mainBlack);
    letter-spacing: var(--mainSpacing);
    &:hover {
      color: var(--primaryColor);
      transition: var(--mainTransition);
    }
  }
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  display: flex;
  background: url("../images/banner.png") center/cover no-repeat;
  align-items: center;
  justify-content: center;
  max-height: 250px;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
  position: relative;
  top: 0;
  
}
.banner-img {
  max-height: 100%;
  z-index: -1;
}
.banner-content {
  position: relative;
  top: 0;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  color: var(--mainBlack);
}
.banner-description {
  font-size: 1.2rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  color: var(--mainBlack);
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.product-container {
  display: flex;
  justify-content: center;
}
.product-link{
  z-index:0;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
  z-index: 100;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}
.product {
  padding: 5px;

  &:hover {
    box-shadow: 0 0 10px 0 var(--mainBlack);
  }
}
.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-container {
  min-height: calc(100vh - 60px);
  display: flex;
  background: url("../images/cart-background.jpeg") center/cover no-repeat;
  align-items: center;
  justify-content: center;
}
.cart {
  margin: auto;
  background: var(--mainWhite);
  padding: 3rem;
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  padding: 5px;

  &:hover {
    box-shadow: 0 0 4px 0 var(--mainBlack);
  }
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

/* --------------- Register ---------------- */
.register-footer {
  margin-top: 2rem;
  font-size: 1.1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  color: var(--mainWhite);
  text-decoration: none;
}
/* --------------- End of Register ---------------- */
/* --------------- Admin ---------------- */
.admin-btn-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.admin-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;

  &:hover {
    background: transparent;
    color: var(--mainWhite);
  }
}
/* --------------- End of Admin ---------------- */
/* --------------- Form ---------------- */
.form-container {
  min-height: calc(100vh - 60px);
  display: flex;
  background: url("../images/banner.png") center/cover no-repeat;
  align-items: center;
  justify-content: center;
}
.form {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0.5rem;
  margin-bottom: 1rem;

  & > input {
    padding: 0.5rem;
    border: 1px solid var(--mainBlack);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    letter-spacing: var(--mainSpacing);
  }

  & > label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
    font-size: 1.1rem;
  }
}
.form-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  margin-top: 2rem;

  &:hover {
    background: transparent;
    color: var(--mainWhite);
    
  }
}